<!DOCTYPE html>
<html ng-app='app' ng-controller='animalControl'>
  <head>
    <meta charset="utf-8" />
    <title>Giphy Plus</title>
    <link rel="stylesheet" type="text/css" href="../style/reset.css" />
    <link rel="stylesheet" type="text/css" href="../style/style.css" />
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <h1>Giphy Plus</h1><button class="nyan" ng-click="nyancat()">BIG RED BUTTON</button>
    <img ng-src="{{ imageFilePath }}" />
    <br>
    <h2>{{ display }} </h2>

 <!--    <div class='navigation'>
      <ul>
        <li><a href='#/links' class='index'>All Links</a></li>
        <li><a href='#/shorten' class='create'>Shorten</a></li>
        <li><a href='/logout'>Log Out</a></li>
      </ul>
    </div> -->
    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
   
      <button ng-click="random()">Get an animal</button>
      <button ng-click="verb()">Make it do something</button>
      <button ng-click= "soundbyte()">Add some sound</button> 
      <br>
      <button ng-click='audio.paused ? audio.play() : audio.pause()'>Pause</button>
      <button ng-click='audio.restart()'>Stop</button>
      <button ng-click='audio.muting = !audio.muting'>Mute</button>
   
      <label>Current Time</label>
      <input class='form-control' type=text ng-model='audio.currentTime'>
      <label>Volume</label>
      <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
      <br>
      <br>
      <br>
      <br>

      <button class="save"ng-click='giphySave()'>Save Giphy?</button>
      <br>
      <br>
      <ul>
        <li ng-repeat='test in saved'><button ng-click="setGiphy($index)">{{test.description}}</button></li>
      </ul>

  </body>
</html>
